{% extends 'layout/head.html' %}
{% block title %}collections{% endblock title %}

{% block content %}
<div class="container" style="margin-top: 70px; min-height:600px">
    <table class="row">
        <div class="col-lg-12">
            <div class="mb-3">Cart Items </div>
            <hr style="border-color:black">
        </div>
        <table class="table">
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Remove</th>
            </tr>
            {% for item in fav %}
            <tr>
                <td><img src="{{item.product.product_image.url}}" height="75px"
                        alt="{{item.product.product_image.url}}"></td>
                <td>{{item.product.name}}</td>
                <td>{{item.product.selling_price | stringformat:'d'}}</td>
                <td>
                    <a href="{% url 'remove_fav' item.id%}" onclick="return confirm('Are you sure to Remove')" class="btn btn-danger"><i
                            class="fa fa-trash"></i> Remove</a>
                </td>
            </tr>
            {% endfor %}
           

        </table>
    </table>
</div>

{% endblock content %}